:root {
    --dark-blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);
    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
}
.navbar {
    position: sticky;
    display: flex;
    top: 0;
    width: 100%;
    background-color: var(--Very-Light-Gray);
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
    padding: .6em 5% 0;
    z-index: 2;
}
.navbarlist {
    display: none;
    position: absolute;
    top: 130%;
    height: fit-content;
    width: calc(100% - 2em);
    text-align: center;
    background-color: var(--Very-Light-Gray);
    border-radius: 5%;
    z-index: 2;
    line-height: 4vh;
    box-shadow: 0px 155px 104px 124px rgba(45,49,77,0.71);
    -webkit-box-shadow: 0px 155px 104px 124px rgba(45,49,77,0.71);
    -moz-box-shadow: 0px 155px 104px 124px rgba(45,49,77,0.71);
}
.navbarlist li {
    list-style: none;
    text-align: center;
    margin: 2vh 0;
}
.navbarlist li:nth-of-type(6){
    display: none;
}
.navbarlist a{
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: var(--dark-blue);
    justify-content: space-around;
}
.navbuttons button{
    border: none;
    background-color: none;
    cursor: pointer;
}
#closeicon {
    display: none;
}
main {
    text-align: center;
    font-size: 18px;
    background-color: var(--Very-Light-Gray);
}
.mockupimg {
    background-image: url(images/bg-intro-mobile.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mockupimg img {
    width: 100%;
}
.mains h1, h2 {
    font-size: x-large;
}
.mains h3 {
    font-size: larger;
}
section {
    padding: 0 30px;
}
section h1 {
    font-weight: 700;
}
section p {
    line-height: 1.5;
    font-weight: 400;
    color: var(--Grayish-Blue);
}
.reqinvbtn {
    padding: 10px 40px;
    border: none;
    border-radius: 40px;
    background: #31d35c;
    background: linear-gradient(0deg,#31d35c 5%, #2bb7da 100%);
    background: -webkit-linear-gradient(0deg,#31d35c 5%, #2bb7da 100%);
    background: -moz-linear-gradient(0deg,#31d35c 5%, #2bb7da 100%);
    color: var(--Very-Light-Gray);
    font-weight: 700;
}
#maininvbtn {
    margin-top: 4vh ;
}
.whySec {
    margin-top: 8vh;
    padding-top: 8vh ;
    padding-bottom: 8vh ;
    background-color: var(--Light-Grayish-Blue) ;
}
.whySec img {
    margin-top: 8vh;
}
.whySec p {
    margin-top: 2vh;
}
.allArticles {
    margin-top: 8vh;
}
.articleCard {
    margin: 8vh 30px;
    background-color: var(--White);
    border-radius: 20px;
    text-align: left;
}
.articleCard img {
    width: 100%;
    object-fit: contain;
    border-radius: 20px 20px 0 0;
}
.articleCard div {
    margin: 2vh 2vh 4vh ;
    font-weight: 300;
}
.articleCard h6 {
    color: var(--Grayish-Blue);
    font-size: x-small;
}
.articleCard h5 {
    margin-top: 2vh;
    margin-bottom: 2vh;
}
.articleCard p {
    font-size: smaller;
    color: var(--Grayish-Blue);
}
.footer {
    text-align: center;
    background-color: var(--dark-blue);
    padding: 1vh 0;
}
#footerlogo {
    filter: brightness(100);
}
.iconlist {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.iconlist li{
    margin-left: 4vw;
    list-style: none;
}
.textlist a {
    text-decoration: none;
    color: var(--Light-Grayish-Blue);
    line-height: 2.4;
    font-size: small ;
    font-weight: 300;
}
#footinvbtn {
    margin: 1vh 0 2vh;
}
.footer span {
    color: var(--Grayish-Blue);
    font-size: small;
}
.attribution { 
    font-size: x-small;
    text-align: center; 
}
.attribution a {
    font-size: small;
    color: hsl(228, 45%, 44%); 
    }
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 1024px) {
    
}